.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 360px;
  margin: 300px auto;
}

.operation-result {
  background-color: grey;
  display: flex;
  justify-content: flex-end;
  padding-right: 6px;
  align-items: center;
  height: 40px;
  color: white;
}

.main-section {
  display: grid;
  grid-template-columns: 90px 90px 90px 90px;
  grid-template-rows: 50px 50px 50px 50px 50px;
  grid-template-areas:
    "a b c d"
    "e f g h"
    "i j k l"
    "m n o p"
    "q q r s";
}

.cell1 {
  grid-area: a;
}

.cell2 {
  grid-area: b;
}

.cell3 {
  grid-area: c;
}

.cell4 {
  grid-area: d;
}

.cell5 {
  grid-area: e;
}

.cell6 {
  grid-area: f;
}

.cell7 {
  grid-area: g;
}

.cell8 {
  grid-area: h;
}

.cell9 {
  grid-area: i;
}

.cell10 {
  grid-area: j;
}

.cell11 {
  grid-area: k;
}

.cell12 {
  grid-area: l;
}

.cell13 {
  grid-area: m;
}

.cell14 {
  grid-area: n;
}

.cell15 {
  grid-area: o;
}

.cell16 {
  grid-area: p;
}

.cell17 {
  grid-area: q;
}

.cell18 {
  grid-area: r;
}

.cell19 {
  grid-area: s;
}

button {
  text-align: center;
  border: 1px solid gray;
}

.left-most {
  background-color: lightsteelblue;
}

.right-most {
  background-color: orangered;
}

.wider {
  flex: 2;
}
