.title {
  font-size: 36px;
}

h1 {
  text-align: center;
}

nav {
  background-color: darkgoldenrod;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

nav ul {
  width: 260px;
  display: flex;
  justify-content: space-between;
  font-style: italic;
  color: white;
  list-style-type: none;
  text-decoration: none;
}

nav li {
  font-size: 22px;
  background-color: darkred;
  list-style: none;
}

.middle {
  padding: 0 0.8rem;
}
